body
{
  background: linear-gradient(black, gray);
  font-family: arial, helvetica, sans-serif;
  font-size: 12pt;
}

.container {
	margin-top:20px;
	margin-bottom:20px;
	margin-right:250px;
	margin-left:250px;
	padding:25px;

	border-radius: 15px;
	background: url(background.png);
	
}

