body
{
  background-color:#f4f4f4;
  font-family: arial, helvetica, sans-serif;
  font-size: 12pt;
}

#container {
	margin-top:auto;

	padding: 10px 150px 10px 150px;

	border-radius: 15px;
	background-color: #C4CECD;

	text-align: left;
}

